language: go
go:
- 1.1.2
- 1.2.2
- 1.3.3
- 1.4.3
- 1.5.4
- 1.6.4
- 1.7.6
- 1.8.3
- 1.9
sudo: false
notifications:
  email:
    on_success: never
    on_failure: always
install: true
script: make test
